<h1>GitHub Score</h1>
<form (submit)='onSubmit()' #regForm='ngForm'>
  <p>Github Username: <input type="text" name="account"
    [(ngModel)]='username'
    #account='ngModel'
    required></p>
  <input [disabled]='!regForm.valid' type="submit" name="submit">
</form>
<h2>Youre Score: {{ score }}</h2>

<div class='red' *ngIf='message[0]'>Need work!</div>
<div class='orange' *ngIf='message[1]'>A decent start!</div>
<div *ngIf='message[2]'>Doing good!</div>
<div class='green' *ngIf='message[3]'>Great job!</div>
<div class='blue' *ngIf='message[4]'>Github Elite!</div>